html{
    font-family: consolas;
}
:root{
    --dark-gray: #212121;
    --aquamarine: #00c480;
    --orange: #d66b00;
}
body{
    background-size: fill;
    background-repeat: no-repeat;
    height: 100%;
    background-color: var(--dark-gray);
}
.background{
    background: src("/Media/Wacks");
    height: 100%;
    width: 100%;
    filter: blur(10px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    position: fixed;
    opacity: 0.9;
}
.middle-content{
    background-color: var(--dark-gray); 
    border: 1px white;
    padding: 50px;
    overflow: auto;
    box-shadow: 10px 10px 30px 5px;
    width: 30%;
    position: absolute;
    right: 30%;
    top: 10%;
}
.my-photo{
    width: 150px;
    height: 150px;
    filter: drop-shadow(7px 7px 7px black);
    -webkit-filter: drop-shadow(7px 7px 7px black); 
}
.main-info{
    display: flex;
}
.my-photo{
    margin-right: 50px;
}
h1, h3{
    color: white;
}

p{
    color: var(--aquamarine);
}
.social-media-account{
    display: flex;
    font-size: 20px;
    text-decoration: none;
}  
.social-media-account:hover{
    color: var(--orange);
    text-shadow: 10px 5px 5px #000;
}
.social-media-account:visited{
    text-decoration: none;
} 
#social-media-icon{
    width: 30px;
    height: 30px;
    color: var(--aquamarine);
}
.school-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    top: 8px;
}
.my-projects, .main-education, .bio-head, .contact-me{
    color: var(--orange);
}
